.screen {
  width: 700px;
  height: 200px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: #292C6D;
  padding: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
}