.btn {
  width: 40px;
  height: 40px;
  background-color: #444;
  color: #fff;
}
.btn.xsm {
  width: 44px;
}
.btn.sm {
  width: 50px;
}
.btn.medium {
  width: 86px;
}
.btn.lg {
  width: 100px;
}
.btn.xl {
  width: 330px;
}
.btn.dark {
  background-color: #222;
}